.carousel2 .swiper-button-next,
.carousel2 .swiper-button-prev {
    display: none;
}

.carousel2 .swiper-pagination {
    width: 95vw !important;
    position: relative;
    display: block;
}

.carousel2 .swiper-pagination-bullet {
    background-color: #1D764A;
}

/* Carousel2 */
.carousel2 {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
}

@media (min-width:768px) {
    .carousel2 {
        align-items: start;
    }
}

.carousel2 .swiper-slide {
    padding: 0 5px;
} 



@media (min-width: 320px) {

    .carousel2 h2 {
        font-size: 20px;
    }

}
/* Size Img */
@media (min-width: 400px) {
    .carousel2 .hotel-image {
        width: 18rem !important;
        height: 25rem !important;
    }

}

@media (min-width:500px) {
    .carousel2 .card {
        width: 20rem !important;
    }
    .carousel2 .swiper-slide {
        width: 330px !important;
    }
    .carousel2 .swiper-wrapper {
        width: 330px;
        margin: 0 !important;
    }
}

