.menu__title {
    position: relative;
  }
  
  .menu__title::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #1d764a;
    bottom: 0px;
    left: 0;
  }

  .menu__text {
    position: relative;
  }
  
  .menu__text::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1d764a;
    bottom: 0px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.7s ease-in-out;
  }

  .menu__text:hover::before {
    transform: scaleX(1);
  }