.thingSwiper {
    position: relative;
}

/* swiper */

.thingSwiper .swiper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:1024px) {

    .thingSwiper .swiper {
        align-items: start;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width:1280px) {
    .thingSwiper {
        height: 600px ;
    }

    .thingSwiper .swiper {
        align-items: start;
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* pagination dots */
.thingSwiper .swiper-pagination {
    display: none;
}

.thingSwiper .swiper-pagination-bullet {
    background-color: #1D764A;
}
@media (max-width:768px) {
    .thingSwiper .swiper-pagination {
        display: block;
    }
}

/* ========= slide =========== */

@media (min-width:320px) {
    .thingSwiper .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/* ========= wrapper ============= */
.thingSwiper .swiper-wrapper {
    height: 400px;
}

@media (min-width:320px) {
    .thingSwiper .swiper-wrapper {
        padding-left: 0px;
    }
}

.thingSwiper .swiper-button-prev,
.thingSwiper .swiper-button-next {
    padding:5px 20px;
    border-radius: 8px;
}

.thingSwiper .swiper-button-prev:after,
.thingSwiper .swiper-button-next:after {
    font-size: 16px;
    font-weight: 600;
    color: #1D764A;
}

.thingSwiper .swiper-button-prev {
    position: absolute;
    background-color: #DBEEFE;
    top: 35px;
    left: calc(100vw - 8rem) ;
}

.thingSwiper .swiper-button-next {
    background-color: #DBEEFE;
    position: absolute;
    top: 35px;
    left: calc(100vw - 5rem);
}
