.thingSwiper {
    position: relative;
}

.thingSwiper .swiper {
    width: 100vw;
    padding-right: 3rem;
}

.thingSwiper .swiper-pagination {
    display: none;
}

@media (min-width:500px) {
    .thingSwiper .swiper-slide {
        margin-left: 30px !important;
    }
}
@media (min-width:768px) {
    .thingSwiper .swiper-slide {
        margin-left: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width:1280px) {
    .thingSwiper {
        height: 600px;
    }
    .thingSwiper .swiper-slide {
        width: 400px !important;
    }
    .thingSwiper .swiper-wrapper {
        height: 600px;
    }
    .thingSwiper .swiper-wrapper {
        padding-left: 100px !important;
    }
}


.thingSwiper .swiper-wrapper {
    height: 400px;
    padding-left: 3rem;
}

@media (min-width:375px) {
    .thingSwiper .swiper-wrapper {
        padding-left: 19vw;
    }
}

@media (min-width:425px) {
    .thingSwiper .swiper-wrapper {
        padding-left: 25vw;
    }
}

@media (min-width:500px) {
    .thingSwiper .swiper-wrapper {
        padding-left: 30px;
    }
}

.thingSwiper .swiper-button-prev,
.thingSwiper .swiper-button-next {
    padding:5px 20px;
    border-radius: 8px;
}

.thingSwiper .swiper-button-prev:after,
.thingSwiper .swiper-button-next:after {
    font-size: 16px;
    font-weight: 600;
    color: #1D764A;
}

.thingSwiper .swiper-button-prev {
    position: absolute;
    background-color: #DBEEFE;
    top: 35px;
    left: calc(100vw - 8rem) ;
}

.thingSwiper .swiper-button-next {
    background-color: #DBEEFE;
    position: absolute;
    top: 35px;
    left: calc(100vw - 5rem);
}
