
@tailwind base;
@tailwind components;
@tailwind utilities;
  
@layer base {
      html {
        scroll-behavior: smooth;
      }

      body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
      
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      body::-webkit-scrollbar {
        display: none;
      }



  
      h1 {
        font-family: 'Lora';
        font-weight: 600;
        font-size: 2rem;
        color: #222222;
      }
  
      h2 {
        font-family: 'Lora';
        font-weight: 500;
        font-size: 1.5rem;
        color: #222222;
      }

      h3 {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
      }

      p {
        font-family: 'Poppins';
      }
    }
