.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
  }

  .bgColor {
    background-color: transparent;
  }
  .headroom--unfixed {
    position: relative;
    transform: translateY(0);


  }
  .headroom--scrolled {
    transition: transform 600ms ease-in-out;
  }
  .headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);

  }
  .headroom--pinned {
    position: fixed;
    transform: translateY(0%);
    width: 100vw;
  }

  .headroom-hovered {
    background-color: white; 
  }

